.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;

  .logo-container {
    align-items: center;
    display: flex;
    height: 100%;
    width: 70px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;

    .nav-link {
      cursor: pointer;
      font-weight: bolder;
    }
  }
}
